.main{
    margin: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.logo-img{
    margin-top: 50px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: 13px;
}
.g-img{
    border: 2px solid black;
}
.button{
    height: 20px;
    width: 60px;
}
.img1{
    height: 50px;
    width: 80px;
}
.img2{
    height: 30px;
    width: 30px;
}
.mid{
    display: flex;
}
.underline{
    margin-top: 11px;
    width: 70px;
    height: 1px;
    background-color: black;
}
.or{
    font-size: smaller;
    margin-bottom: 15;
}
.btn {
    margin: 0;
}
.bton{
    margin-right: 4rem;
}